<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Simple CRUD API built with Spring boot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About API</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container pt-2 pb-0 text-center">
                <h1 class="fw-bolder">Simple CRUD API built with Spring boot</h1>
                <p class="lead">Tap the button bellow to see the documentation</p>
                <a class="btn btn-lg btn-light" href="https://documenter.getpostman.com/view/15185155/2s8Z6yVXxC">Documentation</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-3">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-7">
                        <h2>About this API</h2>
                        <p class="lead">This CRUD API has five endpoints:</p>
                        <ul>
                            <li>POST request to create a new post <a src="https://posts-production.up.railway.app/posts"> https://posts-production.up.railway.app/posts</a> </li>
                            <li>GET request to view all posts <a src="https://posts-production.up.railway.app/posts">https://posts-production.up.railway.app/posts</a></li>
                            <li>GET request to view single post <a src="https://posts-production.up.railway.app/posts/1">https://posts-production.up.railway.app/posts/{id}</a></li>
                            <li>PUT request to update a post <a src="https://posts-production.up.railway.app/posts/1">https://posts-production.up.railway.app/posts/{}</a></li>
                            <li>DELETE request to delete a post <a src="https://posts-production.up.railway.app/posts/1">https://posts-production.up.railway.app/posts/{}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <div class="container px-3"><p class="m-0 text-center text-white">By Philip Oduro Amakye</p><br>
            <p class="m-0 text-center text-white"> <a href="https://twitter.com/_Odur0?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @_Odur0</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
    </body>
</html>
